<section class="admin-category-index">

  <%= tag.header class: "page-header text-center" do %>
    <%= tag.h1 do %>
      <%= tag.span "Admin »", class: "text-muted" %> All Categories
    <% end %>
    <%= tag.div link_to 'New Category', [:new, :admin, :category], class: 'btn btn-success mt-4 fs-5' %>
  <% end %>

  <div class="d-flex flex-column align-items-center justify-content-center">
    <%= tag.div class: "lead card-header text-center w-25 fs-3" do %>
      <%= tag.strong 'CATEGORIES' %>
    <% end %>
    <%= tag.ul class: "list-group list-group-flush w-25" do %>
        <% @category_list.each do |c| %>
          <%= tag.li c, class: "list-group-item text-center fs-4" %>
        <% end %>
    <% end %>
  
  </div>


</section>