
<%= tag.section class: "admin-category-new" do %>

  <%= tag.header class: "page-header text-center" do %>

    <%= tag.h1 do %>
      <%= tag.span "Admin »", class: "text-muted" %> New Category
    <% end %>

    <%= tag.div link_to 'All Categories', [:admin, :categories], class: "btn btn-success my-4 fs-5" %>  

  <% end %>

  <%# TODO: REVISIT this, I need to move on %>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <%= form_for [:admin, @category] do |form| %>

        <% if form.object.errors.any? %>
          <div class="alert alert-danger">
            <strong>The following errors prevented saving:</strong>
            <ul>
              <% form.object.errors.full_messages.each do |error| %>
                <li><%= error %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <%= form.submit 'Create Category', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

<% end %>